h2
  | Painting 
  = painting_title(@painting)

#paintingEditor[
  data-controller="painting"
  data-painting-pixel-changes-url-value=painting_pixel_changes_path(@painting)
  data-painting-pixels-url-value=painting_pixels_path(@painting)
  data-painting-canvas-url-value=painting_canvas_path(@painting)
  data-painting-last-pixel-change-at-value=@last_pixel_change_at.as_json
  data-action="mousemove->painting#drag mouseup@window->painting#dragStop wheel->painting#zoom"
]
  #paintingContent[
    data-painting-target="content"
    data-action="mousedown->painting#dragStart"
  ]
    img[
      data-painting-target="image"
      data-action="load->painting#imageLoaded"
    ]

    canvas[
      data-painting-target="canvas"
      width=@painting.width.to_s
      height=@painting.height.to_s
      data-action="mousemove->painting#moveCursor click->painting#clickPixel"
    ]

    #paintingCursor[
      data-painting-target="cursor"
      data-action="click->painting#clickPixel"
    ]

  #controlPanel.container
    form.row.g-3
      .col-auto
        label.col-form-label for="colorPicker" Current color:
      .col-auto
        input#colorPicker.form-control[
          type="color"
          data-painting-target="colorPicker"
        ]
